
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

li.dropdown {
  display: inline-block;
}



li a:hover, .dropdown:hover .dropbtn {
  background-color:  #EFEFEF;
  color:black;
}

.dropdown-menu{
	min-width: 160px;
	 overflow: hidden;
}



.dropdown-content {
  display: block;
}

.dropdown-item a.active {
  background-color: #EFEFEF;
  color: black;
}

.nav-item a.active {
  background-color: #EFEFEF;
  color: black;
}